<!DOCTYPE html>
<html>
    <head>
        <title>My Alpha Blog</title>
    </head>

    <body>
    <H1>Welcome to Jashua's Blog</H1>
    <%= image_tag 'coding-computer-data-depth-of-field-577585.jpg' %>

    <div>
        <p>I'm creating this blog to learn about Ruby on Rails through Udemy. If you would like to learn more about me and the course that I'm taking, visit the about link below.</p>
    </div>
    <%= link_to 'About Us', about_path %>
    </body>
</html